.center{
	text-align: center;
}
.kit-btn {
	margin: 10px 5px 5px 5px ;
}
span{
	margin-left: 20%;
}
/*h1{
	font-family: 'Overpass Mono', monospace;
}*/
.ui-block-c {
	overflow: auto;
}
.pop{
	width: 150%;
	height: auto;
	overflow: auto;
	background-color: blue;
}
.flow{
	overflow: auto;
}
.tCol1 {
	width: 10%;
}
#mypanel{
	font-size: 20px;
	padding: 10px 5px 10px 0px;	
}
.ui-controlgroup-controls {
    width:100% !important;
}

.ui-select {
    width:33% !important;
} 
.twoBtns{
	float: top;
}
.tab{
overflow: auto;
}
.tCol1s{
	font-style: oblique;

}
.ui-header {
width:100%;
}
.ui-panel {
    width: 13em;
    padding-left: 5em;
}
.show{
	background-color: gray;
	color: black;
}
.copyright{
	font-size: 12px;
}
#purchaseBtn{
	margin-right: 40px;
}
h1{
font-family: 'Cinzel', serif;
letter-spacing: 2px;

}
.ui-controlgroup, .topBtn{
	font-size: 12px;
}
.ui-table-columntoggle-btn {
    display: none !important;
}
option {
	text-align: center;
    font-size: 14px !important;
    font-weight: bold;
}
.active{
	background-color: blue;
}


























