.center{
	text-align: center;
}
.kit-btn {
	margin: 10px 5px 5px 5px ;
}
span{
	margin-left: 20%;
}
/*h1{
	font-family: 'Overpass Mono', monospace;
}*/
.ui-block-c {
	overflow: auto;
}
.pop{
	width: 150%;
	height: auto;
	overflow: auto;
	background-color: blue;
}
.flow{
	overflow: auto;
}
.tCol1 {
	width: 10%;
}
#mypanel{
	font-size: 20px;
	
}